@import 'scss/includes/variables';

$workplace_detail_position: 1.5%;

.workplace-detail-container {
  position: absolute;
  z-index: 4;
  left: $workplace_detail_position;
  right: $workplace_detail_position;
  padding-bottom: $workplace_detail_position;
  bottom: 0;

  .workplace-detail-body {
    background-color: #fff;
    opacity: 0.97;
    border-radius: 5px;
    padding: 20px 20px 15px;
    min-height: 15vh;
    box-shadow: 0.25px 0.5px 0.75px 0px rgba(0, 0, 0, 0.27);

    .parameter-bubble {
      display: inline-block;
      width: 30px;
      border-radius: 50%;
      padding: 2px;
      background-color: $color_light_grey;

      &.bubble-dark-green {
        background-color: $color_dark_green;
      }
      &.bubble-light-green {
        background-color: $color_light_green;
      }
      &.bubble-yellow {
        background-color: $color_yellow;
      }
      &.bubble-orange {
        background-color: $color_orange;
      }
      &.bubble-red {
        background-color: $color_red;
      }

      img {
        max-width: 100%;
      }
    }
  }
}