<div class="container-wp main-container">
  <top-nav></top-nav>

  <div class="container-fluid">
    <!-- Data is not ready -->
    <div *ngIf="!dataLoaded" class="row">
      <div class="col">
        <h1 class="text-center">Loading...</h1>
      </div>
    </div>

    <!-- Data is ready -->
    <div *ngIf="dataLoaded" class="row">
      <div class="col-12">
        <h1>List Articles</h1>
        <ul>
          <li *ngFor="let article of contentStore.articles">
            {{ article.name }}
          </li>
        </ul>
      </div>

      <div class="col-12 pt-2">
        <h1>List Posts</h1>
        <ul>
          <li *ngFor="let post of contentStore.posts">
            {{ post.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
