.map-img-wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .map-img-container {
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;

    .map-img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}