<div class="more-popup-container oc-popup-container"
  [ngClass]="{'d-none': !visible, 'd-block': visible}"
  (click)="onClickOut()">
  <div class="oc-popup-wp" (click)="onClickPopup($event)">
    <div class="oc-popup-header no-padding-bottom" #popHeader>
      <div class="row">
        <div class="col-10">
          <h4 class="font-title-dark-grey no-margin">More</h4>
        </div>
        <div class="col-2 text-right">
          <span class="oc-popup-close-btn" (click)="onClose()">
            <i class="icon ion-md-close"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="oc-popup-body no-padding-right">
      <div [ngStyle]="heightStyle" class="scroll-container">
        <div *ngFor="let item of moreContents" class="scrollable-content">
          <p class="font-subtitle-dark-grey margin-top-xs margin-bottom-xs">{{item.title}}</p>
          <div *ngFor="let content of item.contents">
            <ng-container *ngIf="isUrlImage(content); else elseTemplate">
              <img class="img-responsive margin-bottom-md" [src]="content" alt="">
            </ng-container>
            <ng-template #elseTemplate>
              <p class="font-text-light-grey margin-bottom-md fix-line-height">{{content}}</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="oc-popup-footer text-center" #popFooter>
      <span class="btn oc-btn logout-btn" (click)="logout()">Logout</span>
    </div>
  </div>
</div>