.map-area-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  overflow: hidden;

  .map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}