@import 'scss/includes/variables';

$dropdown_height: 13.5px;

.dropdown-container {
  margin-top: -5px;
  cursor: pointer;

  &.oc-dropdown-single-value {
    cursor: default;
  }

  .dropdown-label {
    cursor: pointer;

    &.oc-label-single-value {
      cursor: default;
    }
  }
  .oc-select {
    .oc-selected-value {
      height: $font_size_title;
      line-height: $font_size_title;
      display: inline-block;
      cursor: pointer;
      max-width: calc(100% - #{2.75vw} - #{$dropdown_height});
      vertical-align: top;

      @media screen and (min-width: 992px) {
        max-width: calc(#{100%} - #{10px + $dropdown_height});
      }

      & > span {
        display: block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.oc-single-value {
      .oc-selected-value {
        max-width: 100%;
        cursor: default;
      }

      @media screen and (min-width: 992px) {
        &.oc-single-value {
          max-width: 100%;
        }
      }
    }

    .oc-dropdown {
      display: inline-block;
      width: $dropdown_height;
      height: $dropdown_height;
      line-height: $dropdown_height;
      position: relative;
      margin-left: 2.75vw;
      vertical-align: top;

      @media screen and (min-width: 992px) {
        margin-left: 10px;
      }

      .oc-dropdown-arrow {
        max-width: 100%;
        line-height: $dropdown_height;
        cursor: pointer;
      }

      .oc-dropdown-list {
        display: inline-block;
        position: absolute;
        z-index: 4;
        top: #{$dropdown_height + 10px};
        left: #{$dropdown_height / 2};
        transform: translateX(-50%);
        height: auto;
        padding: 10px 0;
        margin: 0;
        background-color: #fff;
        border-radius: 6px;
        // border: 1px solid rgba(0, 0, 0, .05);
        box-shadow: 0.25px 0.5px 0.75px 0px rgba(0, 0, 0, 0.27);

        &.collapsed {
          display: none;
        }

        &::before {
          display: inline-block;
          content: '';
          width: 10px;
          height: 10px;
          position: absolute;
          top: -6px;
          left: calc(50% - 5px);
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          border-right: 1px solid #f1f1f1;
          border-top: 1px solid #f1f1f1;
          background-color: #fff;
        }

        > li {
          display: block;
          text-align: center;
          padding: 9px 15px 10px;
          cursor: pointer;

          > span {
            display: inline-block;
            font-family: $font_default;
            font-size: $font_size_default;
            height: $font_size_title;
            line-height: $font_size_title;
            color: $color_light_grey;
            white-space: nowrap;
          }

          &.selected {
            background-color: $color_highlight_yellow;

            > span {
              font-size: $font_size_title;
              line-height: $font_size_title;
              color: $color_dark_grey;
            }
          }
        }
      }
    }
  }
}