.oc-popup-container {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, .5);

  .oc-popup-wp {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0.25px 0.5px 0.75px 0px rgba(0, 0, 0, 0.27);

    .oc-popup-header,
    .oc-popup-body,
    .oc-popup-footer {
      padding: 15px;
    }

    .oc-popup-header {
      .oc-popup-close-btn {
        height: 13px;
        font-size: $font_size_title;
        padding: 15px;
        cursor: pointer;
        position: relative;
        top: -5px;
        color: $color_dark_grey;
      }
    }

    .oc-popup-footer {
      background-color: rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}